<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="aside">
      <div class="header_logo">
        <img src="../../uploads/netflix-logo.png" alt="" />
      </div>
      <div class="list">
        <ul list-style-type="none">
          <a href="/admin" style="text-decoration: none"><li>Home</li></a>
          <a href="/movie" style="text-decoration: none"><li>Movies</li></a>
          <a href="/series" style="text-decoration: none"><li>Web Series</li></a>
          <li>TV Shows</li>
          <a href="/"
            ><button
              class="login_btn btn"
              style="margin-left: 42px; margin-top: 30px"
            >
              Loge Out
            </button></a
          >
        </ul>
      </div>
    </section>
  </body>
</html>
