<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex">
          <div class="search">
            <label for="">Search&nbsp;</label>
            <input type="search" name="searchinput" class="searchinput" />
          </div>
          <div class="right_side">
            <div class="flex">
              <div class="Add_movie">
                <a href="/addMoviePage"><button class="login_btn btn">Add Movie</button></a>
              </div>
              <div class="login_btn">
                <a href="/"><button class="login_btn btn">LOGIN</button></a>
              </div>
              <div class="signUp_btn">
                <a href="/"><button class="login_btn btn">SIGN UP</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
