<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NETFLIX HOME</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <section class="header"><%- include("./partials/header.ejs") -%></section>
      <section class="aside"><%- include("./partials/aside.ejs") -%></section>

      <section class="home panel_padding">
        <h1 style="color: black">ghhg</h1>
      </section>
    </main>
  </body>
</html>
