̀<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NETFLIX LOGIN</title>

  
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
      <section class="login">
        <div class="logo">
          <img src="../uploads/netflix-logo.png" alt="logo" />
        </div>
        <div class="banner">
          <div class="titlebox">
            <div class="title">
              <h1>
                Unlimited movies, <br />
                TV shows and more.
              </h1>
              <span>Enter your email and password and enjoy.</span>
            </div>
            <div class="login_form">
                <form action="/admin" method="post">
                    <input type="text" name="email" id="" placeholder="Email" required>
                    <input type="password" name="password" id="" placeholder="password" required>
                    <input type="submit" class="btn" name="submit">
                </form>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>
